.HousesList {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    margin-left: 250px;
    margin-top: 100px;

}

.HousesList .apart-form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 15px;
    margin-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.HousesList .edit-form {
    width: 50%;
}

.HousesList .form-container {
    display: flex;
}