.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(46, 61, 108);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-github {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-github p {
    margin-left: 10px;
}

.footer-github img {
    margin-right: 15px;
    width: 30px;
}

.footer-github a {
    color: white;
}